{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Homarr ({{ homarr_identifier }})
{% for service in homarr_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in homarr_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ homarr_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ homarr_identifier }} 2>/dev/null || true'

{#
  PUID and PGID are specified on env.j2 to run the container as homarr_uid:homarr_gid
  See: https://homarr.dev/docs/1.10.0/advanced/running-as-different-user/
#}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ homarr_identifier }} \
      --log-driver=none \
      --cap-drop=ALL \
      --cap-add=CAP_DAC_OVERRIDE \
      --cap-add=CHOWN \
      --cap-add=SETUID \
      --cap-add=SETGID \
      --cap-add=NET_BIND_SERVICE \
      --network={{ homarr_container_network }} \
      {% if homarr_container_http_host_bind_port %}
      -p {{ homarr_container_http_host_bind_port }}:{{ homarr_container_http_port }} \
      {% endif %}
      --env-file={{ homarr_base_path }}/env \
      --label-file={{ homarr_base_path }}/labels \
      --mount type=bind,src=/var/run/docker.sock,dst=/var/run/docker.sock \
      --mount type=bind,src={{ homarr_data_path }},dst=/appdata/ \
      {% for volume in homarr_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      {% for arg in homarr_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ homarr_container_image }}

{% for network in homarr_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ homarr_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ homarr_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ homarr_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ homarr_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ homarr_identifier }}

[Install]
WantedBy=multi-user.target
