{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if homarr_container_labels_traefik_enabled %}
traefik.enable=true

{% if homarr_container_labels_traefik_docker_network %}
traefik.docker.network={{ homarr_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if homarr_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ homarr_identifier }}-slashless-redirect.redirectregex.regex=({{ homarr_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ homarr_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [homarr_identifier + '-slashless-redirect'] %}
{% endif %}

{% if homarr_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ homarr_identifier }}-strip-prefix.stripprefix.prefixes={{ homarr_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [homarr_identifier + '-strip-prefix'] %}
{% endif %}

{% if homarr_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in homarr_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ homarr_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [homarr_identifier + '-add-request-headers'] %}
{% endif %}

{% if homarr_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in homarr_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ homarr_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [homarr_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ homarr_identifier }}.rule={{ homarr_container_labels_traefik_rule }}
{% if homarr_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ homarr_identifier }}.priority={{ homarr_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ homarr_identifier }}.service={{ homarr_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ homarr_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ homarr_identifier }}.entrypoints={{ homarr_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ homarr_identifier }}.tls={{ homarr_container_labels_traefik_tls | to_json }}
{% if homarr_container_labels_traefik_tls %}
traefik.http.routers.{{ homarr_identifier }}.tls.certResolver={{ homarr_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ homarr_identifier }}.loadbalancer.server.port={{ homarr_container_http_port }}
{% endif %}

{{ homarr_container_labels_additional_labels }}
